name: deploy-aws-lambda

on:
  push:
    branches:
      - deploy-test
      - main

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  call-test-workflow:
    uses: ./.github/workflows/ci-test.yaml

  call-deploy-workflow:
    needs: call-test-workflow
    uses: GNS-Science/nshm-github-actions/.github/workflows/deploy-to-aws.yml@fix/hazard_url
    with:
      python-version: 'None'
      node-version: '22'
      environment: true
      smoketest-query: 'query Query{KORORAA_about SOLVIS_about HAZARD_about}'
      smoketest-expected: '(?=.*HAZARD_about)(?=.*KORORAA_about.*kororaa_graphql_api)(?=.*SOLVIS_about.*solvis_graphql_api).*'
      smoketest-url-prod: https://nshm-api.gns.cri.nz/kororaa-app-api/graphql
      smoketest-url-test: https://nshm-api-test.gns.cri.nz/kororaa-app-api/graphql
    secrets: inherit
